<p id="notice"><%= notice %></p>

<h1>Qualquer Desculpa</h1>
<div data-toggle="tooltip" title="Cadastrar Desculpas">
  <%= link_to '+ Desculpas', new_admin_apologize_path, class: "btn btn-primary pull-right" %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Imagem</th>
      <th>Desculpa</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apologizes.each do |apologize| %>
      <tr>
        <td><%= image_tag(apologize.apologize_image, size: "200x150") %></td>
        <td><%= apologize.description %></td>
        <td><%= apologize.person.try(:name) %></td>
          <td>
            <div class="btn-group" role="group" aria-label="...">
            <%= link_to 'Mostrar', [:admin, apologize], class: "btn btn-info btn-xs" %>
              <%= link_to 'Editar', edit_admin_apologize_path(apologize), class: "btn btn-info btn-xs"%>
              <%= link_to 'Deletar', [:admin, apologize], class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
